@model GroceryStore.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/js/bootstrap.min.js"></script>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <title>Create</title>
</head>
<body background="/uploads/ProductsBackground.jpg" style="background-size:cover; width:auto; height:auto;">
    <div style="width:100%; margin-top:6%;">
        <div class="container" style="width:29%;  margin:0 auto; padding:2% 0 2% 5%; background-color:rgba(0,0,0,0.30); border-radius:5px;">
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/jqueryval")


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <center><h4>Create New Product</h4></center>

                    @Html.ValidationSummary(true)
                    <br /><div class="form-group">
                        @Html.LabelFor(model => model.catagory_id, "catagory_id", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("catagory_id", String.Empty)
                            @Html.ValidationMessageFor(model => model.catagory_id)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.image_path, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.image_path)
                            @Html.ValidationMessageFor(model => model.image_path)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.product_name, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.product_name)
                            @Html.ValidationMessageFor(model => model.product_name)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Product_price, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Product_price)
                            @Html.ValidationMessageFor(model => model.Product_price)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.product_details, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.product_details)
                            @Html.ValidationMessageFor(model => model.product_details)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">

                            <input type="submit" value="Create" class="btn btn-default" />
                            <div class="btn btn-default">
                                @Html.ActionLink("Back to List", "Index")
                            </div>

                        </div>

                    </div>
                </div>

            }
        </div>
    </div>

</body>
</html>
